.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.image-cat {
  position: relative;
  margin: 10px;
}

.image-cat img {
  width: 450px;
  height:250px;
  object-fit: cover;
}

.image-cat .text-cat {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}